@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.name-tag {
  text-wrap: nowrap;
  display: block;
}

@media screen and (max-width: 480px) {
  .name-tag {
    text-wrap: wrap;
    display: initial;
  }
}
